label,
.radio label,
.checkbox label {
    font-size: 14px;
    font-weight: 300;
}

.input-group-addon.bg-primary {
    background-color: #df691a !important;
    border-color: #df691a !important;
}

.bg-default {
    background-color: #4e5d6c;
}

.label-root,
.bg-root,
.btn-root {
    background-color: #2b3e50;
}

.label {
    font-weight: 300;
}

.filters .label {
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
}

.order {
    margin-top: 30px;
    font-size: 12px;
}

    .order .dropdown-menu {
        border: 1px solid #2b3e50;
        left: -42px;
    }

footer {
    margin-top: 15px;
    border-top: 1px solid #4e5d6c;
    font-size: 12px;
}

@media (max-width: 1750px) {
    .filters.buttons {
        width: 100%;
    }
}

@media (min-width: 1750px) {
    .filters.buttons {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
    }
}
