label,
.radio label,
.checkbox label {
    font-size: 14px;
    font-weight: 300;
}

.input-group-addon.bg-primary {
    background-color: #df691a !important;
    border-color: #df691a !important;
}

.bg-default {
    background-color: #4e5d6c;
}

.label-root,
.bg-root,
.btn-root {
    background-color: #2b3e50;
}

.label {
    font-weight: 300;
}

.filters .label {
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
}

.order {
    margin-top: 30px;
    font-size: 12px;
}

    .order .dropdown-menu {
        border: 1px solid #2b3e50;
        left: -42px;
    }

footer {
    margin-top: 15px;
    border-top: 1px solid #4e5d6c;
    font-size: 12px;
}

.dropdown-menu > div > li > a {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.dropdown-menu > div > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #98978b;
  white-space: nowrap;
}
.dropdown-menu > div > li > a:hover,
.dropdown-menu > div > li > a:focus {
  text-decoration: none;
  color: #98978b;
  background-color: #f8f5f0;
}
.dropdown-menu > div > .active > a,
.dropdown-menu > div > .active > a:hover,
.dropdown-menu > div > .active > a:focus {
  color: #98978b;
  text-decoration: none;
  outline: 0;
  background-color: #f8f5f0;
}
.dropdown-menu > div > .disabled > a,
.dropdown-menu > div > .disabled > a:hover,
.dropdown-menu > div > .disabled > a:focus {
  color: #dfd7ca;
}
.dropdown-menu > div > .disabled > a:hover,
.dropdown-menu > div > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}