label,
.radio label,
.checkbox label {
    font-size: 14px;
    font-weight: 300;
}

.input-group-addon.bg-primary {
    background-color: #df691a !important;
    border-color: #df691a !important;
}

.bg-default {
    background-color: #4e5d6c;
}

.label-root,
.bg-root,
.btn-root {
    background-color: #2b3e50;
}

.label {
    font-weight: 300;
}

.filters .label {
    font-size: 14px;
    cursor: pointer;
    margin: 3px;
}

.label {
    margin: 3px;
}

.order {
    margin-top: 30px;
    font-size: 12px;
}

.order .dropdown-menu {
    border: 1px solid #2b3e50;
    right: 0;
    left: initial;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #4e5d6c;
    font-size: 12px;
}

.dropdown-menu > div > li > a {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.dropdown-menu > div > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #98978b;
  white-space: nowrap;
}
.dropdown-menu > div > li > a:hover,
.dropdown-menu > div > li > a:focus {
  text-decoration: none;
  color: #98978b;
  background-color: #f8f5f0;
}
.dropdown-menu > div > .active > a,
.dropdown-menu > div > .active > a:hover,
.dropdown-menu > div > .active > a:focus {
  color: #98978b;
  text-decoration: none;
  outline: 0;
  background-color: #f8f5f0;
}
.dropdown-menu > div > .disabled > a,
.dropdown-menu > div > .disabled > a:hover,
.dropdown-menu > div > .disabled > a:focus {
  color: #dfd7ca;
}
.dropdown-menu > div > .disabled > a:hover,
.dropdown-menu > div > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

[data-toggle="modal"] {
    cursor: pointer;
}

.input-group .form-control {
    z-index: 0;
}

.pagination > div  > li {
  display: inline;
}

.pagination > div {
    display: inline;
    float: left;
}

.pagination li > a,
.pagination li > span {
  position: relative;
  float: left;
  padding: 12px 16px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #98978b;
  background-color: #f8f5f0;
  border: 1px solid #dfd7ca;
  margin-left: -1px;
}
.pagination div:first-child > a,
.pagination div:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination div:last-child > a,
.pagination div:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > div  > li > a:hover,
.pagination > div  > li > span:hover,
.pagination > div  > li > a:focus,
.pagination > div  > li > span:focus {
  color: #8e8c84;
  background-color: #dfd7ca;
  border-color: #dfd7ca;
}

.pagination > div  > .active > a,
.pagination > div  > .active > span,
.pagination > div  > .active > a:hover,
.pagination > div  > .active > span:hover,
.pagination > div  > .active > a:focus,
.pagination > div  > .active > span:focus {
  z-index: 0;
  color: #8e8c84;
  background-color: #dfd7ca;
  border-color: #dfd7ca;
  cursor: default;
}
.pagination > div > .disabled > span,
.pagination > div > .disabled > span:hover,
.pagination > div > .disabled > span:focus,
.pagination > div > .disabled > a,
.pagination > div > .disabled > a:hover,
.pagination > div > .disabled > a:focus {
  color: #dfd7ca;
  background-color: #f8f5f0;
  border-color: #dfd7ca;
  cursor: not-allowed;
}