@model TheDevelopersStuff.Web.UI.Controllers.VideosListViewModel

@{
    ViewBag.Title = "Biblioteka filmów";
    ViewBag.VideosFiltersComponentName = "videos-filters";
    ViewBag.VideosOrderByComponentName = "videos-orderBy";
    ViewBag.VideosPaginationComponentName = "videos-pagination";
}

<section class="row">
    <aside class="col-md-3 col-lg-2">
        @{
            Html.RenderPartial("Videos/Filters", Model.Filters);
        }
    </aside>
    <section class="col-md-9 col-lg-10">
        @{
            Html.RenderPartial("Videos/List", Model);
        }        
        @*
        <div class="row">
            <div class="col-sm-4 col-lg-3 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/110100738" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h4><a href="#">Luke Wroblewski - It’s a Write/Read (Mobile) Web</a></h4>
                        <p data-toggle="modal" data-target="#myModal">On the surface, content is king online. But digging deeper into the underbelly of the web reveals a complex ecosystem of ...</p>
                        <p>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">C#</span>
                            <span class="label label-info">ndcoslo</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                        </p>
                    </div>
                    <div>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-down"></span>8</p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span>15 </p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-eye-open"></span>124</p>
                        <p style="margin-left: 10px;"><a href="">dotnetconf</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/110100738" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pi3bc9lS3rg" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h4><a href="#">Luke Wroblewski - It’s a Write/Read (Mobile) Web</a></h4>
                        <p data-toggle="modal" data-target="#myModal">On the surface, content is king online. But digging deeper into the underbelly of the web reveals a complex ecosystem of ...</p>
                        <p>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">C#</span>
                            <span class="label label-info">ndcoslo</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                        </p>
                    </div>
                    <div>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-down"></span>8</p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span>15 </p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-eye-open"></span>124</p>
                        <p style="margin-left: 10px;"><a href="">dotnetconf</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/110100738" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h4><a href="#">Luke Wroblewski - It’s a Write/Read (Mobile) Web</a></h4>
                        <p data-toggle="modal" data-target="#myModal">On the surface, content is king online. But digging deeper into the underbelly of the web reveals a complex ecosystem of ...</p>
                        <p>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">C#</span>
                            <span class="label label-info">ndcoslo</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                        </p>
                    </div>
                    <div>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-down"></span>8</p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span>15 </p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-eye-open"></span>124</p>
                        <p style="margin-left: 10px;"><a href="">dotnetconf</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/110100738" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h4><a href="#">Luke Wroblewski - It’s a Write/Read (Mobile) Web</a></h4>
                        <p data-toggle="modal" data-target="#myModal">On the surface, content is king online. But digging deeper into the underbelly of the web reveals a complex ecosystem of ...</p>
                        <p>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">C#</span>
                            <span class="label label-info">ndcoslo</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                        </p>
                    </div>
                    <div>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-down"></span>8</p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span>15 </p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-eye-open"></span>124</p>
                        <p style="margin-left: 10px;"><a href="">dotnetconf</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/110100738" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h4><a href="#">Luke Wroblewski - It’s a Write/Read (Mobile) Web</a></h4>
                        <p data-toggle="modal" data-target="#myModal">On the surface, content is king online. But digging deeper into the underbelly of the web reveals a complex ecosystem of ...</p>
                        <p>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">C#</span>
                            <span class="label label-info">ndcoslo</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                        </p>
                    </div>
                    <div>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-down"></span>8</p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span>15 </p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-eye-open"></span>124</p>
                        <p style="margin-left: 10px;"><a href="">dotnetconf</a></p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-4 col-lg-3 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/110100738" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h4><a href="#">Luke Wroblewski - It’s a Write/Read (Mobile) Web</a></h4>
                        <p data-toggle="modal" data-target="#myModal">On the surface, content is king online. But digging deeper into the underbelly of the web reveals a complex ecosystem of ...</p>
                        <p>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">C#</span>
                            <span class="label label-info">ndcoslo</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                            <span class="label label-info">Default</span>
                        </p>
                    </div>
                    <div>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-down"></span>8</p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span>15 </p>
                        <p class="pull-right" style="margin-right: 10px;"><span class="glyphicon glyphicon-eye-open"></span>124</p>
                        <p style="margin-left: 10px;"><a href="">dotnetconf</a></p>
                    </div>
                </div>
            </div>
        </div>
        *@
    </section>
</section>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-primary">Luke Wroblewski - It’s a Write/Read (Mobile) Web</h4>
            </div>
            <div class="modal-body">
                <p>On the surface, content is king online. But digging deeper into the underbelly of the web reveals a complex ecosystem of communication and contribution that shapes the web and how we interact with it. What lessons can we learn from the web’s inner workings as we move to a mobile-driven, multi-device internet? Luke will not only lift the covers on where we need to focus our efforts but share lots of practical advice on how as well.</p>
            </div>
        </div>
    </div>
</div>
