<div class="row">
    <div class="col-sm-12">
        <h3 class="text-danger">Wystąpił błąd</h3>
    
        <p>Coś poszło nie tak, przejdź do @Html.ActionLink("strony głównej", "Index", "Videos"). Powiadom mnie na Twitterze: <a href="https://twitter.com/intent/tweet?screen_name=DevMoviesPL&text=Hej%2C%20co%C5%9B%20jest%20nie%20tak%20ze%20stronk%C4%85.%20/CC%3A%20%40tkestowicz" class="twitter-mention-button" data-lang="pl" data-related="tkestowicz">Tweet to @@DevMoviesPL</a>.</p>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </div>
</div>