<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand btn-primary active" href="@Url.Action("Index", "Videos")">Biblioteka filmów</a>
        </div>
    </div>
</nav>