@model TheDevelopersStuff.Backend.ViewModels.VideosFiltersViewModel

<div id="@ViewBag.VideosFiltersComponentName">
    <h3 class="text-primary">Filtry</h3>

    @Html.React("VideosFilters", new { data = Model, componentName = ViewBag.VideosFiltersComponentName })
</div>
