@{
    ViewBag.Title = "DevMovies - O projekcie";
}

<section class="row">
    <div class="col-sm-8">
        <h3 class="text-info">O projekcie</h3>
        <p>
            W serwisach Vimeo oraz YouTube znajdują się filmy z konferencji tematycznie związanych z platformą .NET oraz szeroko pojętym IT, takich jak:
            <ul>
                <li><a href="http://devday.pl/" title="DevDay">DevDay</a>,</li>
                <li><a href="http://www.ndcoslo.com/" title="NDC Conferences">NDC</a>,</li>
                <li><a href="http://leetspeak.se/2014/" title="Leetspeak">1337speak</a>,</li>
                <li><a href="http://www.dotnetconf.net/" title="dotnetConf - The .NET Community Virtual Conference">dotNetConf</a>,</li>
                <li><a href="http://dotnetconf.pl/" title="dotNetConfPL">dotNetConfPL</a>.</li>
            </ul>
        </p>
        <p>
            Różne konferencje porozrzucane po różnych kanałach i różnych serwisach. Z perspektywy <a href="http://tymoteuszkestowicz.com" title="Realizacja: Tymoteusz Kęstowicz">osoby</a>, która chętnie ogląda zaległe wystąpienia skakanie po tylu miejscach było dosyć upierdliwe. Stąd też wziął się pomysł na projekt, który zagreguje informacje z wybranych kanałów i pozwoli na przyjazne filtrowanie i przeglądanie materiałów. Dodatkowo po zachęcie <a href="http://blog.gutek.pl/o-mnie/" title="Jakub Gutkowski" >Gutka</a> do przyjrzenia się bibliotece <a href="http://reactjs.net/" title="ReactJS.NET">ReactJS.NET</a> decyzja zapadła i w kilka wieczorów udało się zrealizować minimalne założenia projektu.
        </p>
        <p>
            W chwili obecnej aplikacja bazuje na statycznych danych pobranych z serwisów Vimeo i YouTube w trakcie wdrażania. Wszystkie informacje, tj.: kanały, filmy, metadane dotyczące filmów wskazują stan z dnia <strong>09.10.2014 r.</strong>.
        </p>
        <p>
            Jeżeli znalazłeś jakiś błąd, niedociągnięcie, uważasz, że czegoś brakuje lub chciałbyś dodać coś od siebie daj znać na <a href="https://twitter.com/devmoviespl">twitterze</a> lub <a href="mailto:devmoviespl@gmail.com">wyślij maila</a> – zobaczymy co da się zrobić <span style="font-size: 24px;">☺</span>.
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <a class="twitter-timeline" href="https://twitter.com/devmoviespl" data-widget-id="531773697325948928" data-lang="pl">Tweety na temat @@devmoviespl</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</section>
